*::-webkit-scrollbar {
  width: 0.4em;
}
*::-webkit-scrollbar-track {
  border-radius: 16px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 16px;
  outline: none;
}
*::-webkit-scrollbar-button {
  display: none;
}
.chat {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  background-color: var(--chat-bg);
  border-radius: 0 17px 17px 0;
  padding: 0 40px 40px;
  backdrop-filter: blur(8px);
}
.InputForm {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #00000061;
  padding: 15px;
  border-radius: 17px;
}
.Sendinput {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 17px;
  color: #fff;
  flex: 1;
  &::placeholder {
    color: lightgray;
  }
}
.FormIcons {
  color: #8175ff;
}
.FormIcons .MuiSvgIcon-root {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
}
