.ChatBody {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  margin: 1rem 0;
  overflow: auto;
}
.Message {
  display: flex;
  margin: 1rem 0;
}
.MessageBody p {
  color: #fff;
}
.MessageBody {
  max-width: 60%;
  margin: 0 1rem;
  padding: 10px;
  background-color: #8175ff;
  border-radius: 17px;
}
.my {
  flex-direction: row-reverse;
  margin-right: 25px;
}
.my_b {
  background-color: #00000061;
}
