.ChatHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  // box-shadow: 0px 21px 20px -11px rgba(34, 60, 80, 0.28);
}
.UserInfo {
  display: flex;
  align-items: center;
}
.UserBody {
  margin-left: 20px;
}
.UserBody h3 {
  color: #fff;
}
.UserBody p {
  color: lightgray;
}
.HeaderIcons {
  display: flex;
  color: #fff;
}
.HeaderIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 0.7rem;
  background-color: rgba(0, 0, 0, 0.38);
  border-radius: 50%;
  cursor: pointer;
}
