.users__container {
  flex: 0.25;
  height: 100%;
  padding-left: 10px;
  overflow: auto;
  background-color: var(--user-bg);
  border-radius: 17px 0 0 17px;
  backdrop-filter: blur(8px);
}
.header__icons {
  display: flex;
  padding: 20px 0 20px 10px;
}
.red__icon,
.yellow__icon,
.green__icon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
}
.red__icon {
  background-color: var(--red-icon);
}
.yellow__icon {
  margin: 0 0.4rem;
  background-color: var(--yellow-icon);
}
.green__icon {
  background-color: var(--green-icon);
}
.Category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 10px;
}
.Category h2 {
  color: #fff;
}
.Cate__Icons {
  display: flex;
  color: #fff;
}
.IconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 1rem;
  background-color: rgb(255 255 255 / 15%);
  border-radius: 50%;
  cursor: pointer;
}

.hidden {
  display: none;
}
.hide {
  flex: 0;
}
