.UserCard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  padding: 20px 10px;
  border-radius: 17px;
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover {
    background: hsl(0deg 0% 0% / 51%);
  }
}
.Con__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
}
.Con__info h3 {
  color: #e1e1e1;
}
.Con__body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: lightgray;
}

.Con__body p:first-child {
  width: 9rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
}
